<footer class="main-footer">
    <div class="container-wide">
        <div class="item">
            <h2>FOLLOW US, AND SIGN UP</h2>
            <p>For the latest news.</p>
            <input type="text" placeholder="Email...">
        </div>

        <div class="item">
            <a [routerLink]="['/about']"> About Us</a> 
            <a [routerLink]="['/contact']">Contact Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Returns</a>
        </div>

        <div class="item">
            <a href="#">Terms and Conditions</a>
            <a href="#">Wholesale</a>
        </div>


        <div id="social" class="social-credit">
            <div class="social">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fab fa-instagram-square"></i></a>
            </div>
            <div class="credit-card">
                <a href="https://www.americanexpress.com/us/credit-cards/features-benefits/additional-card/terms-and-conditions.html"
                    target="blank"><i class="fa fa-cc-amex"></i></a>
                <a href="https://usa.visa.com/support/consumer/visa-rules.html" target="blank"><i
                        class="fa fa-cc-visa"></i></a>
                <a href="https://www.mastercard.us/en-us/vision/who-we-are/terms-of-use.html" target="blank"><i
                        class="fa fa-cc-mastercard"></i></a>
                <a href="https://www.paypal.com/us/webapps/mpp/ua/useragreement-full" target="blank"><i
                        class="fa fa-cc-paypal"></i></a>
            </div>
            <div class="credits">
                <p>© T-MANTRA All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>