<div class="container aboutText">
    <div class="text">
        <h1>About Us | WHO WE ARE</h1>
        <p>We are a collective of dreamers.</p>
        <p>Our main goal is bringing our artwork to life. With an experience of over two decades - encountering and
            tackling new challenges has become a part of who we are.</p>
        <p>Each Plazmalab member contributes to what we'd like to think of as a "creative house" that extends itself
            way beyond fashion. these days you can see our art on clothes, walls, huge wooden constructions, etc.
            You name it, we're glad to do it.</p>

        <p>Our products are all manufactured locally, done individually by a bunch of super talented, creative
        craftsmen. The designers, ink masters and pattern makers all have a part in the elaborate process of
        production.

        Plazmalab can be found in a variety of shops, music festivals, and art events all over the world.</p>
    </div>

    <div class="container aboutImg">
        <div class="art">
            <img src="assets/images/T-MantraLOGO.jpg" alt="artistprojects">
        </div>
    </div>

</div>