<!-- 



  <div class="Fwrapper">
    <div class="wrapper">
        <h2>Contact us</h2>
        <div id="error_message"></div>
        <form [formGroup]="profileForm">
          <div class="input_field">
            <input id="firstname" type="text" formControlName="firstName" placeholder="Fullname">
          </div>
          <div class="input_field">
            <input id="lastname" type="text" formControlName="lastName" placeholder="Lastname">
          </div>
          <div class="input_field">
            <input id="email" type="text" formControlName="email" placeholder="Email">
          </div>
          <div class="input_field">
            <input id="subject" type="text" formControlName="subject" placeholder="Subject">
          </div>
          <div class="input_field">
              <textarea placeholder="Message" id="message"></textarea>
          </div>
          <div class="btn">
              <input type="submit">
          </div>
        </form>
      </div>    
</div>
 -->

 