  
.item{
    margin-right: 5%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    top: 50%;
    left: 50%;
    max-width: 350px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
  
}

.Fwrapper{
    display: flex;
    justify-content: center;
}

.input_field{
    margin-bottom:20px;

}

.wrapper .input_field input[type="text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

.wrapper textarea{
    height: 80px;
    resize: none;
   
}

.wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  } 

  .wrapper .btn input[type="submit"]:hover{
      color: black;
      background: white;
      border: 1px solid black;
  }


.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background:#fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.wrapper h2{
    font-size: 2rem;
}