
.main-nav .container-wide {
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.main-nav .nav-links {
    display: flex;
}

.main-nav .nav-links a {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0 15px;
    padding: 10px;

}

.main-nav .user a {
    margin: 0 10px;
}

.main-nav a:hover {
    color: dimgray;
}

.nav-links li{
    list-style: none;
    
}

.container,
.container-wide {
    display: flex;
    width: 100%;
    padding: 0 15px;

}

.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .each-item{
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }


  .ng-temp{
      height: 250px;
      overflow-y:auto;
      overflow-x:hidden;
    }

    #img{
        height: 50px;
        width: 50px;
    }

    .design-icon{
        font-size: 2rem;
    }

    .nav-links a{
        display: none;
    }

    



    /* .open-wish-list{
        width: 100%;
    } */

    @media screen and (min-width:700px) {
        .nav-links a{
            display: inherit;
        }


        .hidden-button{
            display: none;
        }
    }

    .user{
        display: flex;
    }

    @media screen and (min-width:1200px) {

        .container,
        .container-wide {
            width: 1200px;
            margin: 0 auto;
        }
    }
    
    @media screen and (min-width:1600px) {
        .container-wide {
            width: 1600px;
            margin: 0 auto;
        }
    }

    #checkout{
        border: 1px solid black;
        margin-top: 10px;
    }