<!-- matan- design only  -->

<div class="container">
  <div class="img-showcase">
    <img src = 'assets/images/{{certainProduct.img}}' alt = "shoe image">
  </div>
  <div class = "card-single">
    <div class = "single-content">
      <h2 class = "single-title">{{certainProduct.name}}</h2>
      <div class = "single-rating">
        <i class = "fa fa-star"></i>
        <i class = "fa fa-star"></i>
        <i class = "fa fa-star"></i>
        <i class = "fa fa-star"></i>
        <i class = "fa fa-star-half-alt"></i>
        <span>4.7 (21)</span>
      </div>

      <div class = "single-price">
        <p class = "new-price">New Price: <span>{{certainProduct.price}}</span></p>
      </div>

      <div class = "single-detail">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
        <ul>
          <li>Color: <span>Black</span></li>
          <li>Available: <span>in stock</span></li>
          <li>Category: <span>Shoes</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <input type = "number" min = "0" value = "1">
        <button type = "button" class = "btn">
          Add to Cart <i class = "fa fa-shopping-cart"></i>
        </button>
        <button type = "button" class = "btn"><i class = "fa fa-heart"></i></button>
      </div>

      <div class = "social-links">
        <p>Share At: </p>
        <a href = "#">
          <i class = "fa fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fa fa-twitter"></i>
        </a>
        <a href = "#">
          <i class = "fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>