<!-- matan- design only  -->

<div class="container">
  <div class="img-showcase">
    <img src = 'assets/images/{{certainProduct.img}}' alt = "shoe image">
  </div>
  <div class = "card-single">
    <div class = "single-content">
      <h2 class = "single-title">{{certainProduct.name}}</h2>

      <div class = "single-price">
        <p class = "price">Price: <span>{{certainProduct.price}}</span></p>
      </div>

      <div class = "single-detail">
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
        <ul>
          <li>Available: <span  *ngIf="certainProduct.available!='Not in stock.'">{{certainProduct.available}}</span><span *ngIf="certainProduct.available=='Not in stock.'" id="red-design">{{certainProduct.available}}</span></li>
          <li>Shipping Fee: <span>Free</span></li>
          <li>Gender: <span> {{certainProduct.gender}}</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <button class = "btn"  (click)="addToCart(certainProduct.id)">
          Add to Cart <i class = "fa fa-shopping-cart"></i>
        </button>
        <button class = "btn" (click)="addToWishList(certainProduct.id)"><i class = "fa fa-heart"></i></button>
      </div>

      <div class = "social-links">
        <p>Share At: </p>
        <a href = "#">
          <i class = "fa fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fa fa-twitter"></i>
        </a>
        <a href = "#">
          <i class = "fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>